PORT=3001
DB=mongodb+srv://[NAME]:[PASSWORD]@[CLUSTER-NAME]/[DOC-NAME]
SECRET=pw_encryption_secret
mailjetAK=mailjet_key1
mailjetAS=mailjet_key2
URL=http://app.com
VOTE_THRESHOLD=3
MAIL_TOKEN_LIFESPAN_IN_MINUTES=30
AUTH_TOKEN_LIFESPAN_IN_DAYS=7d
REFRESH_TOKEN_LIFESPAN_IN_DAYS=2d
REFRESH_TOKEN_POLLING_TIME_IN_MILISECONDS=120000